.pytest_cache/
.tmp/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.tmp
*.bak
.Python
.venv/
venv/
env/
build/
dist/
src/*.egg-info/
pip-wheel-metadata/
.dpg_layout.ini
.qt_layout.ini
runs/
outputs/
0A44743795D421F7/
0AD7CE889B4FB16F/
next-ai-draw-io/
